<div class="mdc-typography--body2">
    Click on the "select files" button to select the files to upload and then click on the "upload" button to send
    them to the server.
</div>
<div class="mdc-typography--body2">
    The list of files that will be sent will be displayed in the area below.
</div>
<div class="display-flex content-center justify-content-space mgt30">
    <button id="select-files" class=" mdc-button mdc-button--raised">
        <div class="mdc-button__ripple"></div>
        <i class="material-icons mdc-button__icon" aria-hidden="true">folder</i>
        <span id="button-label" class="mdc-button__label">Select Files</span>
    </button>
    <button id="upload-files" class="mdc-button mdc-button--raised" disabled>
        <div class="mdc-button__ripple"></div>
        <i class="material-icons mdc-button__icon" aria-hidden="true">file_upload</i>
        <span id="button-label" class="mdc-button__label">Upload</span>
    </button>
</div>
<div class="display-flex content-center justify-content-left mgt30">
    <div class="mdc-typography--body2">Upload options:</div>
    <div class="display-flex justify-content-space flew-grow-2">
        <div class="mdc-form-field">
            <div class="mdc-checkbox">
                <input type="checkbox"
                       class="mdc-checkbox__native-control"
                       id="add-checksum" disabled/>
                <div class="mdc-checkbox__background">
                    <svg class="mdc-checkbox__checkmark"
                         viewBox="0 0 24 24">
                        <path class="mdc-checkbox__checkmark-path"
                              fill="none"
                              d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                    </svg>
                    <div class="mdc-checkbox__mixedmark"></div>
                </div>
                <div class="mdc-checkbox__ripple"></div>
            </div>
            <label class="mdc-typography--caption" for="add-checksum">Add sha256 checksum</label>
        </div>
        <div class="mdc-form-field">
            <div class="mdc-checkbox">
                <input type="checkbox"
                       class="mdc-checkbox__native-control"
                       id="use-chunks" disabled/>
                <div class="mdc-checkbox__background">
                    <svg class="mdc-checkbox__checkmark"
                         viewBox="0 0 24 24">
                        <path class="mdc-checkbox__checkmark-path"
                              fill="none"
                              d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                    </svg>
                    <div class="mdc-checkbox__mixedmark"></div>
                </div>
                <div class="mdc-checkbox__ripple"></div>
            </div>
            <label class="mdc-typography--caption" for="use-chunks">Use chunks to upload file</label>
        </div>
    </div>
</div>
<div class="display-flex content-center justify-content-left">
    <div class="mdc-typography--body2">Chunk size (Mb):</div>
    <div id="chunk-size-selector" class="mdc-slider mdc-slider--discrete mdc-slider--tick-marks mdc-slider--disabled flew-grow-2">
        <input class="mdc-slider__input" type="range" min="0" max="50" value="0" name="chunkSize" step="5"
               aria-label="Chunk size for file upload" disabled>
        <div class="mdc-slider__track">
            <div class="mdc-slider__track--inactive"></div>
            <div class="mdc-slider__track--active">
                <div class="mdc-slider__track--active_fill"></div>
            </div>
            <div class="mdc-slider__tick-marks">
                <div class="mdc-slider__tick-mark--inactive"></div>
                <div class="mdc-slider__tick-mark--inactive"></div>
                <div class="mdc-slider__tick-mark--inactive"></div>
                <div class="mdc-slider__tick-mark--inactive"></div>
                <div class="mdc-slider__tick-mark--inactive"></div>
                <div class="mdc-slider__tick-mark--inactive"></div>
                <div class="mdc-slider__tick-mark--inactive"></div>
                <div class="mdc-slider__tick-mark--inactive"></div>
                <div class="mdc-slider__tick-mark--inactive"></div>
                <div class="mdc-slider__tick-mark--inactive"></div>
                <div class="mdc-slider__tick-mark--inactive"></div>
            </div>
        </div>
        <div class="mdc-slider__thumb">
            <div class="mdc-slider__value-indicator-container" aria-hidden="true">
                <div class="mdc-slider__value-indicator">
                    <span class="mdc-slider__value-indicator-text">5</span>
                </div>
            </div>
            <div class="mdc-slider__thumb-knob"></div>
        </div>
    </div>
</div>
<div id="preview">
    <div class="preview mdc-typography--body2 mgt30">No file selected for the moment.</div>
</div>

<input id="input-file" class="display-none" type="file" accept="{{accept}}" multiple />
<input id="api-file-endpoint" type="hidden" value="{{fileEndpoint}}">
