@use "@material/theme";
@use "@material/button";

html, body {
  padding: 0;
  margin: 0;
  background-color: theme.$background;
}

.main {
  height: 100vh;
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-content-space {
  justify-content: space-around;
}

.justify-content-left {
  justify-content: left;
}

.direction-column {
  flex-direction: column;
}

.mdc-typography--caption {
  color: theme.$grey-600;
  padding: 5px 0;
  text-align: justify;
}

.mdc-typography--body2 {
  color: theme.$grey-700;
  padding: 7px 0;
  text-align: justify;
}

.txt-al {
  text-align: left;
}

.mdc-card {
  height: 90vh;
  width: 50vw;
  overflow: scroll;
}

.mdc-card__header {
  line-height: 70px;
  color: theme.$secondary;
  background-color: theme.$primary;
  text-align: center;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.mdc-card__content {
  padding: 15px 20px;
}

.mdc-card__content-title {
  padding: 15px 0 30px 0;
  color: theme.$primary;
  text-align: center;
}

.mdc-button {
  width: 40%;
  @include button.icon-color(theme.$secondary);
}

.mdc-button__label {
  color: theme.$secondary;
}

.mdc-button:disabled .mdc-button__label {
  color: theme.$grey-600;
}

.mgt30 {
  margin-top: 30px;
}

#preview {
  padding-bottom: 20px;
  word-break: break-all;
}

.preview {
  border-radius: 5px;
  border: 1px solid theme.$primary;
  padding: 7px;
}

.file-upload-detail {
  display: flex;
}

.file-upload-detail-description {
  width: 70%;
  display: flex;
}

.file-upload-detail-progress {
  width: 27%;
  padding: 0 10px;
}

.progress-container, .progress-value {
  border-radius: 16px;
}

.progress-container {
  background-color: theme.$grey-200;
  width: 100%;
  overflow: hidden;
}

.progress-value {
  background-color: theme.$primary;
  color: theme.$grey-600;
  width: 0;
}

.progress-value-content {
  color: theme.$secondary;
}

.progress-value-text {
  padding: 0.01em 16px;
}

.display-none {
  display: none;
}

.options-checkbox-container {
  display: flex;
  justify-content: space-around;
  flex-grow: 2;
}
