@use "@material/theme";
@use "@material/button";

html, body {
  padding: 0;
  margin: 0;
  background-color: theme.$background;
}

.main {
  height: 100vh;
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-content-space {
  justify-content: space-around;
}

.mdc-typography--caption {
  color: theme.$grey-600;
  padding: 5px 0;
  text-align: justify;
}

.mdc-typography--body2 {
  color: theme.$grey-700;
  padding: 7px 0;
  text-align: justify;
}

.mdc-card {
  height: 90vh;
  width: 50vw;
  overflow: scroll;
}

.mdc-card__header {
  line-height: 70px;
  color: theme.$secondary;
  background-color: theme.$primary;
  text-align: center;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.mdc-card__content {
  padding: 15px 20px;
}

.mdc-card__content-title {
  padding: 15px 0 30px 0;
  color: theme.$primary;
  text-align: center;
}

.mdc-button {
  width: 40%;
  @include button.icon-color(theme.$secondary);
}

.mdc-button__label {
  color: theme.$secondary;
}

.mdc-button:disabled .mdc-button__label {
  color: theme.$grey-600;
}

.error-message {
  display: flex;
  color: theme.$error;
  align-items: center;
  justify-content: center;
  text-align: justify;
  padding-bottom: 10px;
}

.error-message .message {
  padding-left: 10px;
}

.mgt30 {
  margin-top: 30px;
}

.mgt20 {
  margin-top: 20px;
}

.mgt50 {
  margin-top: 50px;
}

#preview {
  border-radius: inherit;
  border: 1px solid theme.$primary;
  padding: 7px;
}

#input-file {
  display: none;
}
